@font-face {
    font-family: "Source-reg";
    src: url("../fonts/sourcesanspro-regular-webfont.woff2") format("woff2"),
         url("../fonts/sourcesanspro-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: "Poppins-bold";
    src: url("../fonts/poppins-bold-webfont.woff2") format("woff2"),
         url("../fonts/poppins-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;

}




@font-face {
    font-family: "Poppins-reg";
    src: url("../fonts/poppins-regular-webfont.woff2") format("woff2"),
         url("../fonts/poppins-regular-webfont.woff") format("woff");
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: "Source-bold";
    src: url("../fonts/sourcesanspro-bold-webfont.woff2") format("woff2"),
         url("../fonts/sourcesanspro-bold-webfont.woff") format("woff");
    font-weight: bold;
    font-style: normal;

}