*{
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus,:active{outline: none;}
a:focus,a:active{outline: none;}
nav,footer,header,aside{display: block;}
input::-ms-clear{display: none;}
button{cursor: pointer;}    
button::-moz-focus-inner{padding:0;border:0;}
a,a :visited {text-decoration: none;}
a:hover{text-decoration: none;}
ul li {list-style: none;}
img{vertical-align: top;}
h1,h2,h3,h4,h5,h5,h6{font-size: inherit;font-weight: 400;}

body {
    font-family: "Source-reg";
    font-size: 16px;
    color: #333;
    line-height: 1.5;
}
.container {
    max-width: 1220px;
    margin: 0 auto;
}
h2 {
    font-family: "Poppins-bold", sans-serif;
    font-size: 56px;
    line-height: 1.4;
}
li {
    list-style: none;
}
button {
    border: none;
    outline: none; 
    cursor: pointer;
    background: transparent;
    font-family: "Source-reg", sans-serif;
    font-size: 16px;
}
picture {
    object-fit: cover;
}
img {
    object-fit: cover;
}