@import "normolize";
@import "swiper-bundle.min";
@import "fonts";
@import "setining";



body {
    background-color: #fff;
}
.wr-preview {
    background-image: linear-gradient(#3023AE 0%, #C86DD7 100%);
    height: 100vh;
    position: relative;
    p {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #fff;
        margin-bottom: 46px;
    }
    .more {
        width: 170px;
        height: 48px;
        color: #fff;
        background-color: #ffd000;
        border-radius: 24px;
        &:hover {
            background-color: #ffc400ad;
        }
    }
}
.wr-preview-img {
    background-image: url(../media/prev/phones.png);
    position: absolute;
    top: 0;
    right: 0;
    background-repeat: no-repeat;
    background-position-x: right;
    background-size: cover;
    height: calc(100vh + 40vh);
    width: 100vw;
}
.nav-wrapper .container-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-color: #5927a441;
    align-items: center;
    height: 80px;
    width: 100%;
    position: fixed;
    left: 0;
    z-index: 99999;
}
.logo {
    color: #fff;
    font-family: "Poppins-bold", sans-serif;
    font-weight: bold;
    font-size: 40px;
    position: relative;
    left: 9%;
    &:hover {
            color: #333333;
    }
}

.nav {
    display: flex;
    align-items: center;
    margin-left: 150px;
    a {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        margin-left: 34px;
        color: #fff;
        &:hover {
            color: #FFC300; ;
        }
    }
}
.input-search {
    display: none;
}

.search-button  {
    fill:#fff;
    width: 24px;
    height: 24px;
    &:hover {
        fill: #FFC300;
    }
    svg {
        width: 24px;
        height: 24px;
    }
}
.main-text {
    margin-left: 135px;
    margin-top: 236px;
    max-width: 570px;
}
h1 {
    font-family: "Poppins-bold", sans-serif;
    font-weight: bold;
    font-size: 72px;
    line-height: 1;
    color: #fff;
    margin-bottom: 26px;
}


// Sapiente delectus section

.wr-sapiente {
    padding-top: 55px;
    padding-bottom: 60px;
}
.section-title {
    display: flex;
    flex-direction: column;
    align-items: center;

    h2 {
        margin-bottom: 24px;
        text-align: center;
    }
    p {
        font-family: "Source-bold", sans-serif;
        font-weight: bold;
        font-size: 16px;
        line-height: 1.5;
        max-width: 570px;
        text-align: center;
    }

}

.sapiente-items {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.sapiente-item {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 370px;
    height: 232px;
    padding-top: 40px;
    padding-bottom: 32px;
    padding-left: 24px;
    padding-right: 24px;
    box-shadow:  16px 16px 48px 0 rgba(0, 0, 0, 0.0995);
    margin-top: 32px;
    svg {

        fill: rgb(200, 109, 215);
        height: 50px;
        width: 50px;
    }

    h3 {
        font-family: "Poppins-bold", sans-serif;
        font-weight: bold;
        font-size: 24px;
        line-height: 1.5;
        margin-top: 15px;
    }
    p {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
        opacity: 49.8%;
        margin-top: 9px;
    }
}
// Reiciendis voluptatibus

.wr-reicien {
    background-color: #FDF2FF;
    padding-top: 114px;
    padding-bottom: 114px;
}
.section-reicien {
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
}
.reicien-img {
    width: 570px;
    height: 512px;
    position: relative;
    object-fit: cover;
    left: 20px;

    picture {
        max-width: 570px;
        height: 100%;
        position: relative;
        right: 0px;
        object-fit: cover;
        img {
            object-fit: cover;
            max-width: 570px;
        }
    }
    &::before {
        content: " ";
        display: inline-block;
        width: 570px;
        height: 512px;
        right: 30px;
        top: 32px;
        background-image: linear-gradient(#3023AE 0%, #C86DD7 100%);
        position: absolute;
        z-index: 0;
        object-fit: cover;

    }
}
.content-reicien {
    margin-left: 100px;
}
.reicien-1 {
    font-family: "Source-bold", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    margin-top: 23px;
}
.reicien-2 {
    font-family: "Source-reg", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    color: #333333;
    opacity: 50%;
    margin-top: 6px;
}

.statistics {
    margin-top: 37px;
    display: flex;
    align-items: center;
    min-height: 80px;
    .statistic {
        margin-right: 118px;
        max-height: 80px;
    }
    h5 {
        font-family: "Poppins-bold", sans-serif;
        font-size: 40px;
    }
    p {
        font-family: "Source-bold", sans-serif;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 6px;
    }

}
.feat {
    margin-top: 40px;
    width: 170px;
    height: 48px;
    border-radius: 24px;
    background-color: #C86DD7;
    font-family: "Source-bold", sans-serif;
    font-size: 16px;
    color: #fff;
    &:hover {
        background-color: #FDF2FF;
        color: #C86DD7;
        border: 1px solid #C86DD7;
    }
}


//  Asperiores repellat

.wr-asperio {
    background-color: #fff;
    padding-top: 23px;
    padding-bottom: 196px;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: flex-end;
    }

}
.asperio-content {
    max-width: 600px;
    // position:absolute;
    p {
        margin-top: 28px;
        font-family: "Source-bold", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        max-width: 572px;
    }
}
.asperio-picture {
    max-width: 453px;
    height: 639px;
    img {
        width: 100%;
        object-fit: cover;
    }
    // position: relative;
    // left: 780px;
    // bottom: 80px;
}
.asperio-icons {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding-top: 20px;
    .asperio-icon {
        padding-top: 32px;
    }
    svg {
        width: 50px;
        height: 48px;
        fill: #C86DD7;
    }
    h5 {
        font-family: "Poppins-bold", sans-serif;
        font-size: 24px;
        margin-top: 4px;
    }
    p {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
        opacity: 50%;
        max-width: 270px;

    }

}




// Totam aperiam
.wr-totam {
    background-color: #FDF2FF;
    padding-top: 55px;
    padding-bottom: 112px;
}


.title-totam {

    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
        text-align: center;
    }
    p {
        margin-top: 23px;
        font-family: "Source-bold", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        max-width: 570px;
        text-align: center;
    }
}
.totam-contents {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 48px;
}

.totam-content {
    text-align: center;
    padding: 53px 100px 48px 100px;
    background-color: #fff;
    box-shadow:  16px 16px 48px 0 rgba(0, 0, 0, 0.0995);
    &:hover {
        background-image: linear-gradient(#3023AE 0%, #C86DD7 100%);
    }
    &:hover h5 {
        color: #fff;
    }
    &:hover p {
        color: #fff;
    }
    &:hover li {
        color: #fff;
    }
    &:hover button {
        background-color: #FFC300;
        color: #fff;
    }
    h5 {
        font-family: "Poppins-bold", sans-serif;
        font-size: 24px;
        line-height: 1.5;
        color: #333333;
    }
    p {
        font-family: "Poppins-bold", sans-serif;
        font-size: 72px;
        line-height: 1.5;
        margin-top: 10px;
        color: #333333;
    }
    ul {
        margin-top: 26px;
        li {
            font-family: "Source-reg", sans-serif;
            font-size: 16px;
            line-height: 1.5;
            color: #333333;
            opacity: 50%;
            margin-top: 8px;

        }
    }
    button {
        color: #C86DD7;
        width: 170px;
        height: 48px;
        border-radius: 24px;
        border: 1px solid #C86DD7;
        background-color: #fff;
        margin-top: 42px;
        &:hover {
            background-color: #ffee01ab;
        }
    }
}



// Eaque ipsa
// .wr-eaque {
//     padding-bottom: 60px;
// }
.wr-eaque {
    padding-top: 55px;
    padding-bottom: 64px;
}
.title-euque {
    display: flex;
    flex-direction: column;
    align-items: center;
    p {
        margin-top: 23px;
        font-family: "Source-bold", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        max-width: 570px;
        text-align: center;
    }
}
.swiper-wrapper {
    display: flex;
    justify-content: space-between;
    padding-bottom: 110px;
    position: relative;
    margin-top: 48px;

}
.swiper-slide {
    box-shadow:  16px 16px 48px 0 rgba(0, 0, 0, 0.0995);
    display: flex;
    flex-direction: column;
    align-items: center;

    &:hover {
        background-image: linear-gradient(#3023AE 0%, #C86DD7 100%);
    }
    picture {
        height: 124px;
        border-radius: 50%;
        object-fit: cover;
        
        img {
            max-width: 100%;
        }
    }
}
.slide-content {
    font-family: "Source-bold", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    opacity: 50%;
    max-width: 500px;
    margin-top: 48px;
    text-align: center;
}
.slide-name {
    font-family: "Poppins-bold", sans-serif;
    font-size: 24px;
    margin-top: 5px;
    margin-bottom: 60px;
}
.sl-nav {
    display: flex;
    justify-content:center;
    align-items: center;
}
.swiper-button-prev:after{
    right:0;
 }
 .swiper-button-next:after{
    left:0;
 }
.swiper-button-prev, .swiper-button-next {
    color: #C86DD7;
    border: 1px solid #C86DD7;
    border-radius: 50%;
    width: 48px;
    height: 48px;
    z-index: 9999;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 0;
    bottom: 0;
    margin:0;
     &::after {
        font-size: 16px;
    }
    &:hover {
        background-color: #C86DD7;
        color: #fff;
    }
}
.swiper-button-prev {
    left: 45.5%;
    top: 468px;
}
.swiper-button-next {
    right: 45.5%;
    top: 468px;
}

// Veritatis
.wr-varitatis {
    background-color: #FDF2FF;
    padding-top: 55px;
    padding-bottom: 112px;
}
.title-varitatis {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
        font-family: "Source-bold", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        max-width: 570px;
        opacity: 50%;
    }
    button {
        color: #C86DD7;
        width: 170px;
        height: 48px;
        border-radius: 24px;
        border: 1px solid #C86DD7;
        background-color: #FDF2FF;
        &:hover {
            background-color: #C86DD7;
            color: #fff;
        }
    }
}
.contents-varitatis {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    margin-top: 65px;
}
.var-1 {
    width: 570px;
    height: 464px;
    background-image: url(../media/veritatis/rose.png);
    background-size: cover;
}
.var-2 {
    width: 270px;
    height: 464px;
    background-image: url(../media/veritatis/fl.png);
    background-size: cover;
}
.var-3 {
    width: 270px;
    height: 464px;
    background-image: url(../media/veritatis/pan.png);
    background-size: cover;
}
.content-var {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    padding-top: 325px;
    padding-left: 32px;
    h5 {
        font-family: "Poppins-bold", sans-serif;
        font-size: 24px;
        line-height: 1.5;
        color: #fff;
        max-width: 228px;
    }
    p {
        font-family: "Source-reg", sans-serif;
        font-size: 12px;
        line-height: 1.5;
        color: #fff;
        margin-top: 10px;
    }
}

// Poris suscipit laboriosam
.wr-poris {
    padding-top: 112px;
    padding-bottom: 112px;
}
.section-poris {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row-reverse;
    align-items: center;
}
.content-poris {
    h2 {
        max-width: 400px;
    }
    .text-poris1 {
        font-family: "Source-bold", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        max-width: 470px;
        margin-top: 22px;
    }
    .text-poris2 {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        opacity: 50%;
        max-width: 470px;
        margin-top: 15px;
    }
    .text-poris3 {
        font-family: "Source-bold", sans-serif;
        font-size: 12px;
        margin-top: 12px;
    }
}
.email {
    margin-top: 38px;
    display: flex;
    justify-content: space-between;
    .text {
        border: 2px solid #DADADA;
        width: 270px;
        height: 48px;
        border-radius: 3px;
        padding-left: 16px;
        &:hover {
            background-color: #DADADA;
        }

    }
    [placeholder] {
        font-family: "Source-reg", sans-serif;
        color: #333333;
        opacity: 50%;
    }

    button {
        font-family: "Source-bold", sans-serif;
        color: #FFFFFF;
        width: 170px;
        height: 48px;
        border-radius: 24px;
        border: 1px solid #C86DD7;
        background-color: #C86DD7;
        &:hover {
            background-color: #FFFFFF;
            color: #C86DD7;
        }
    }
}

.img-poris {
    width: 570px;
    height: 512px;
    position: relative;
    object-fit: cover;
    left: 30px;
    picture {
        width: 100%;
        height: 100%;
        position: absolute;
        object-fit: cover;
    }
    &::before {
        content: " ";
        display: inline-block;
        width: 570px;
        height: 512px;
        right: 30px;
        top: 32px;
        background-image: linear-gradient(#3023AE 0%, #C86DD7 100%);
        position: absolute;
        z-index: 0;
        object-fit: cover;

    }
}
// Nisi aliq
.wr-nisi {
    background-color: #FDF2FF;
    padding-top: 55px;
    padding-bottom: 96px;
}
.content-nisi {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 58px;
}
.nisi-item {
    max-width: 370px;
    background-color: #fff;
    padding-bottom: 40px;
    picture {
        width: 370px;
        height: 240px;
        img {
            max-width: 100%;
        }
    }
    .date {
        font-family: "Source-bold", sans-serif;
        font-size: 12px;
        line-height: 1.5;
        margin-top: 32px;
        margin-left: 32px;
    }
    h5 {
        font-family: "Poppins-bold", sans-serif;
        font-size: 24px;
        line-height: 1.5;
        max-width: 252px;
        margin-top: 13px;
        margin-left: 32px;
    }
    .text-nisi {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        line-height: 1.7;
        opacity: 50%;
        margin-top: 25px;
        margin-left: 32px;
    }
}
// Repudiandae
.wr-repud {
    padding-top: 102px;
    padding-bottom: 112px;
}
.cotainer-form {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.col-1 {
    h2 {
        line-height: 1;
        max-width: 388px;
    }
    .text-repud {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        opacity: 50%;
        max-width: 470px;
        margin-top: 40px;
    }
    h4 {
        font-family: "Poppins-bold", sans-serif;
        font-size: 24px;
        line-height: 1.5;
        margin-top: 23px;
    }
    h5 {
        font-family: "Poppins-bold", sans-serif;
        font-size: 24px;
        line-height: 1.5;
        margin-top: 39px;
    }
}
.address {
    font-family: "Source-reg", sans-serif;
    font-size: 16px;
    line-height: 1.5;
    max-width: 270px;
    margin-top: 25px;
    a {
        color: #333333;
        opacity: 50%;
        &:hover {
            color: #C86DD7;
            opacity: 50%;
        }
    }
}
.tel {
    margin-top: 25px;
    a {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
        opacity: 50%;
        &:hover {
            color: #C86DD7;
            opacity: 50%;
        }
    }
}
.mail {
    margin-top: 2px;
    a {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        line-height: 1.5;
        color: #333333;
        opacity: 50%;
        &:hover {
            color: #C86DD7;
            opacity: 50%;
        }
    }
}
.social-network {
    margin-top: 50px;
}
.network {
    width: 32px;
    height: 32px;
    margin-right: 8px;
    fill: #C86DD7;
    &:hover {
        fill: #333333;
    }
}
.col-2 {
    max-width: 560px;
    display: flex;
    flex-direction: column;
    box-shadow:  16px 16px 48px 0 rgba(0, 0, 0, 0.0995);
    padding: 37px 32px 48px 32px;
    h4 {
        font-family: "Poppins-bold", sans-serif;
        font-size: 24px;
        line-height: 1.5;
        padding-top: 10px;
    }
    label {
        font-family: "Source-bold", sans-serif;
        font-size: 12px;
        text-transform: uppercase;
        line-height: 1;
        margin-top: 20px;
    }
    .text {
        border: 1px solid #DADADA;
        width: 506px;
        height: 48px;
        border-radius: 3px;
        padding-left: 16px;
        margin-top: 13px;
        &:hover {
            background-color: #DADADA;
        }
    }
    [placeholder] {
        font-family: "Source-reg", sans-serif;
        color: #333333;
        opacity: 50%;
    }
    .textarea {
        border: 1px solid #DADADA;
        width: 506px;
        height: 112px;
        border-radius: 3px;
        padding-left: 16px;
        margin-top: 13px;
        resize: none;
        padding-top: 12px;
        &:hover {
            background-color: #DADADA;
        }
    }
    button {
        font-family: "Source-bold", sans-serif;
        font-size: 16px;
        color: #FFFFFF;
        width: 506px;
        height: 48px;
        border-radius: 24px;
        background-color: #C86DD7;
        margin-top: 32px;
        &:hover {
            background-color: #FFFFFF;
            color: #C86DD7;
            border: 1px solid #C86DD7;

        }
    }
}


footer {
    background-color: #FDF2FF;
    padding-top: 62px;
    padding-bottom: 42px;
    .container {
        display: flex;
        justify-content: space-between;
    }
}
.foot {
    h4 {
        font-family: "Source-bold", sans-serif;
        font-size: 16px;
    }
    p {
        font-family: "Source-reg", sans-serif;
        font-size: 16px;
        line-height: 1.7;
        max-width: 238px;
        margin-top: 8px;
        opacity: 50%;
        a {
            color: #333333;
            opacity: 50%;
            &:hover {
                color: #333333;
            }
        }
    }
}
.text-link {
    font-family: "Source-reg", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    max-width: 238px;
    margin-top: 8px;
}
.link {
    color: #333333;
    opacity: 50%;
    &:hover {
        color: #e70000;
    }
}
.email-2 {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-top: 4px;
    input {
        border: 1px solid #DADADA;
        width: 214px;
        height: 48px;
        border-radius: 3px;
        padding-left: 16px;
        margin-top: 13px;
        &:hover {
            background-color: #DADADA;
        }
    }
    button {
        width: 48px;
        height: 48px;
        position: relative;
        border-radius: 50%;
        background-color: #C86DD7;
        margin-left: 8px;
        &:hover {
            background-color: #FFFFFF;
            color: #C86DD7;
            border: 1px solid #C86DD7;
        }
        &:hover::after {
            border-left: 3px solid #C86DD7;
            border-bottom: 3px solid #C86DD7;

        }
        &::after {
            position: absolute;
            top: 17px;;
            left: 16px;
            content: '';
            display: block;
            width: 10px;
            height: 10px;
            border-left: 3px solid #fff;
            border-bottom: 3px solid #fff;
            transform: rotate(224deg);
        }

    }
}
.copyright {
    font-family: "Source-reg", sans-serif;
    font-size: 16px;
    line-height: 1.7;
    margin-top: 58px;
    color: #333333;
    opacity: 50%;
    text-align: center;
    border-top: 1px solid #33333375;
    padding-top: 29px;
}


.burger-btn {
    display: none;
    height: 20px;
    width: 24px;
    position: relative;
}

.burger-line:after, .burger-line:before, .burger-line  {
    content: "";
    position: absolute;
    width: 24px;
    height: 4px;
    background-color: #fff;
}

.burger-line {
    top: calc(50% - 2px)
}

.burger-line:before {
    top: -10px;
}

.burger-line:after {
    bottom: -10px;
}


.active {
    display: flex;
    width: 100vw;
}
@media screen and (max-width: 1200px) {

    .contents-varitatis {
        grid-template-columns: repeat(auto-fit, 600px);
    }
    .totam-contents {
        justify-content: center;
    }
    // .section-poris {
    //     justify-content: flex-end;
    // }
    .content-nisi {
        justify-content: center;
    }
    .asperio-content {
        padding-left: 15px;
    }
}
@media screen and (max-width: 1096px) {
    .section-poris {
        display: flex;
        justify-content: space-between;
        flex-direction: column-reverse;
    }
    .content-poris {
        margin-top: 100px;
    }
}

@media screen and (max-width: 1010px) {
    .wr-preview-img {
        background-image: url(../media/prev/phones.png);
        position: absolute;
        bottom: 100px;
        height: 742px;
        background-repeat: no-repeat;
        background-position-x: top;
        background-size: cover;
    }
    .section-reicien {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
    }
    .content-reicien {
        margin-top: 80px;
        max-width: 650px;
    }
   .wr-asperio .container {
       display: flex;
       flex-direction: column;
       justify-content: center;
       align-items: center;
   }
   .totam-contents {
    display: flex;
    justify-content: space-around;
   }
   .totam-content {
       margin-top: 16px;
   }
   .swiper-button-prev {
        left: 43%;
        top: 468px;
    }
    .swiper-button-next {
        right: 43%;
        top: 468px;
    }
    .title-varitatis {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        button {
            margin-top: 16px;
        }
    }
    .wr-varitatis .container {
        max-width: 350px;
    }
    .var-1 {
        width: 345px;
        height: 464px;
    }
    .var-2 {
        width: 345px;
        height: 464px;
    }
    .var-3 {
        width: 345px;
        height: 464px;
    }
    // .section-poris {
    //     display: flex;
    //     justify-content: space-between;
    //     flex-direction: column-reverse;
    // }
    .wr-nisi h2 {
        text-align: center;
    }
    .content-nisi {
        display: flex;
        justify-content: space-around;
    }
    .nisi-item {
        margin-top: 16px;
    }
    .cotainer-form {
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    
    }
    
}
@media screen and (max-width: 870px) {
    .nav-wrapper .container-nav {
        display: flex;
        justify-content: space-around;
    }
    .nav {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-left: 100px;
    }
}

@media screen and (max-width: 810px) {
    .title-varitatis {
        padding-left: 10px;
    }
    .search-button {
        display: none;
    }
    .burger-btn {
        display: block;
        position: relative;
        left: 36%;
    }
    // .search-button {
    //     position: relative;
    //     left: 40%;
    // }
    .wr-preview {
        height: 768px;
    }
    .wr-preview-img {
        background-image: url(../media/prev/phones.png);
        position: absolute;
        bottom: 100px;
        height: 600px;
        background-repeat: no-repeat;
        background-position-x: top;
        background-size: cover;
    }
    .main-text {
        max-width: 460px;
    }
    .nav {
        display: none;
    }
    .active {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        width: 100vw;
        background-color:  #360242a1;
        top: 0;
        position: absolute;
        right: 0;
        height: 100vh;
        overflow-y: hidden;
        a {
            font-family: "Poppins-bold", sans-serif;
            color: #ffd000;
            font-size: 25px;
            margin-left: 0;
            &:hover {
                color: #ffd00054;
            }
        }
    }
    footer .container {
        max-width: 325px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .foot {
        margin-top: 24px;
    }


}
@media screen and (max-width: 690px) {
    .main-text {
        h1 {
            font-size: 56px;
        }
    }
    .wr-reicien {
        margin-left: 0;
        
    }
    .reicien-img {
        max-width: 428px;
        picture {
            max-width: 428px;
            img {
                width: 100%;
            }
          
        }
        &::before{
            content: " ";
            display: inline-block;
            position: absolute;
            max-width: 428px;
            max-height: 380px;
            right: 30px;
            top: 32px;
            z-index: 0;
        }
    }
    .content-reicien {
        margin-top: 0;
    }
    .wr-poris {
        margin-left: 0;
        
    }
    .img-poris {
        max-width: 428px;
        
        picture {
            max-width: 428px;
            img {
                width: 100%;
            }
        }
        &::before{
            content: " ";
            display: inline-block;
            position: absolute;
            max-width: 428px;
            max-height: 380px;
            right: 30px;
            top: 32px;
            z-index: 0;
        }
    }
    .content-poris {
        margin-top: 0;
    }

    .col-2 {
        margin-top: 10px;
        max-width: 400px;
        .text {
            width: 350px;
        }
        .textarea {
            width: 350px;
        }
        button {
            width: 350px;
        }
    }
    .swiper-button-prev {
        left: 40%;
    }
    .swiper-button-next {
        right: 40%;
    }
}
@media screen and (max-width: 550px) {
    h2 {
        font-size: 40px;
    }
    .burger-btn {
        display: block;
        position: relative;
        left: 32%;
    }
    .main-text {
        margin-left: 6px;
        margin-top: 236px;
        max-width: 345px;
    }
    .section-title {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .reicien-img {
        max-width: 328px;
        left: 0;
        picture {
            max-width: 328px;
            img {
                width: 100%;
            }
        }
        &::before{
            content: " ";
            display: inline-block;
            position: absolute;
            max-width: 320px;
            max-height: 285px;
            right: 30px;
            top: 32px;
            z-index: 0;
        }
    }
    .content-reicien {
        margin-top: -100px;
        margin-left: 0;
        max-width: 345px;
    }
    .wr-poris {
        margin-left: 0;
        
    }
    .img-poris {
        max-width: 328px;
        
        picture {
            max-width: 328px;
            img {
                width: 100%;
            }
          
        }
        &::before{
            content: " ";
            display: inline-block;
            position: absolute;
            max-width: 320px;
            max-height: 285px;
            right: 30px;
            top: 32px;
            z-index: 0;
        }
    }
    .content-poris {
        margin-top: -100px;
        margin-left: 8px;
    }
    .email button {
        margin-top: 16px;
    }
    .col-1 {
        padding-left: 6px;
    }
    .sapiente-item {
        height: 234px;
    }
}

@media screen and (max-width: 440px) {
    .wr-preview-img {
        background-image: url(../media/prev/phones.png);
        position: absolute;
        bottom: 100px;
        height: 450px;
        background-repeat: no-repeat;
        background-position-x: top;
        background-size: cover;
    }
    .container {
        max-width: 330px;
    }
    .sapiente-item {
        height: 230px;
    }
    .wr-asperio {
        padding-bottom: 0;
    }
    .totam-content {
        max-width: 345px;
        padding: 53px 86px 48px 86px;
    }
    .col-2 {
        max-width: 340px;
        .text {
            width: 278px;
        }
        .textarea {
            width: 278px;
        }
        button {
            width: 278px;
        }
    }
    .img-poris {
        margin-left: -45px;
    }
    .nisi-item {
        max-width: 300px;
    }
    .swiper-button-prev {
        margin-top: 15px;
        left: 33%;
    }
    .swiper-button-next {
        margin-top: 15px;
        right: 33%;
    }
    .burger-btn {
        display: block;
        position: relative;
        left: 25%;
    }


}

@media screen and (max-width: 350px) {
    .container {
       max-width: 320px;
    }
    .main-text h1 {
        font-size: 40px;
    }
    .reicien-img picture {
        max-width: 300px;
    }
    .content-reicien {
        max-width: 290px;
    }
    .content-var {
        max-width: 300px;
    }
    .totam-content {
        padding: 53px 57px 48px 67px;
    }
    .reicien-img {
        max-width: 290px;
        left: 0;
        picture {
            max-width: 290px;
            img {
                width: 100%;
            }
          
        }
        &::before{
            content: " ";
            display: inline-block;
            position: absolute;
            max-width: 290px;
            max-height: 255px;
            right: 10px;
            top: 15px;
            z-index: 0;
        }
    }
    .img-poris {
        max-width: 290px;
        
        picture {
            max-width: 290px;
            img {
                width: 100%;
            }
          
        }
        &::before{
            content: " ";
            display: inline-block;
            position: absolute;
            max-width: 290px;
            max-height: 245px;
            right: 10px;
            top: 25px;
            z-index: 0;
        }
    }
    .content-reicien {
        margin-top: -140px;
    }
    .content-poris {
        margin-top: -140px;
    }
    .col-2 {
        max-width: 300px;
        .text {
            width: 230px;
        }
        .textarea {
            width: 230px;
        }
        button {
            width: 230px;
        }
    }
    .wr-varitatis {
        padding-left: 7px;
    }
    .wr-sapiente {
        padding-left: 7px;
        padding-right: 7px;
    }
    .sapiente-item {
        height: 260px;
    }
    footer {
        padding-left: 7px;
    }

}
